/* v2.0 | 20110126
	http://meyerweb.com/eric/tools/css/reset/ 
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Iconmoon*/
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot?8mbx4b');
	src:url('../fonts/icomoon/icomoon.eot?#iefix8mbx4b') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.ttf?8mbx4b') format('truetype'),
		url('../fonts/icomoon/icomoon.woff?8mbx4b') format('woff'),
		url('../fonts/icomoon/icomoon.svg?8mbx4b#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-info:before {
	content: "\e608";
}
.icon-rule:before {
	content: "\e609";
}
.icon-protect:before {
	content: "\e60a";
}
.icon-object:before {
	content: "\e60b";
}
.icon-control:before {
	content: "\e601";
}
.icon-guard:before {
	content: "\e602";
}
.icon-house:before {
	content: "\e603";
}
.icon-car:before {
	content: "\e600";
}

/*Iconmoon end*/



* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0 auto;
	min-width: 1065px;
	/*max-width: 1600px;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.2;
	color: #000000;
	background-color: #ffffff;
}

.center-wrapper {
	width: 1065px;
	margin: auto;
	padding: 0 20px;
	text-align: left;
}


/*Style reset*/
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	color: #000000;
	text-decoration: none;
}

a i {
	display: inline-block;
}

img {
	vertical-align: middle;
}

.img-circle {
	border-radius: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: inherit;
	font-weight: normal;
	line-height: 1.5;
	color: inherit;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	margin: 0;
}

h1,
.h1 {
	font-size: 48px;
}

h2,
.h2 {
	font-size: 24px;
}

h3,
.h3 {
	font-size: 30px;
}

p {
	margin: 0;
}

ul,
dl,
dd {
	margin: 0;
	padding: 0;
	list-style: none;
}
/*Style reset end*/

/*Slider*/

.owl-theme .owl-controls {
	position: absolute !important;
	margin-top: -100px !important;
	margin-left: -80px !important;
	text-align: center !important;
	left: 50% !important; 
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 18px  !important;
	height: 18px !important;
	margin: 5px 5px;
	filter: alpha(opacity=50); /*IE7 fix*/
	opacity: 0.5;
	border-radius: 20px;
	background: #869791;
}

#owl-demo {
	position: absolute;
	/*width: 1025px;*/
	width: 100%;
	top: 0;
}

#owl-demo .owl-item .item {
	width: 100%;
	height: 230px;
	text-align: center;
	
} 

#owl-demo .owl-item:nth-child(1) .item {
	background-color: #1c1d22;
	
} 

#owl-demo .owl-item:nth-child(2) .item {
	background-color: #444446;
}


#owl-demo .owl-item .item-in img{
	/*background:  url(../img/slide1-1.png) no-repeat center;*/
 height: 100%;  
}


.owl-prev,
.owl-next {
	display: none !important;
}

/*Slider end*/

/*Header*/
.header {
	position: relative;
	min-width: 320px;
	min-height: 233px;
	text-transform: uppercase;
	font-size: 0;
	background-color: #31343b;
}

.header__container {
	position: relative;
}

.header__container-logo {
	padding-top: 21px;
	padding-bottom: 26px;
	text-align: left;
}

.header__container-menu {
	background-color: #31343b;
}

/*Menu*/
.main-nav {
	display: block;
	padding: 0;
	z-index: 1;
}

.main-nav__list {
	list-style: none;
	margin: 0 -15px;
}

.main-nav__item {
	display: inline-block;
	position: relative;
	color: #000000;
}

.main-nav__link {
	display: inline-block;
	width: 100%;
	padding: 0 16px;
	font-weight: 300;
	line-height: 40px;
	font-size: 16px;
	color: #fff;
	text-transform: none;
	text-decoration: underline;
}

.main-nav__link:hover,
.main-nav .main-nav__active {
	background-color: #202227;
}
/*Menu end*/

/*Logo*/
.logo {
	display: inline-block;
	position: relative;
	z-index: 10;
	width: 400px;
}

.logo:after {
	display: block;
	content: "";
	clear: both;
}

.logo__link {
	display: block;
	z-index: 10;
}

.logo__img {
	float: left;
	border: none;
}

.logo__text {
	display: block;
	float: left;
	padding-top: 5px;
	padding-left: 22px;
	font-size: 27px;
	line-height: 1.18em;
	color: #fff;
	text-transform: none;
	text-align: left;
}

.logo__name {
	display: inline-block;
	margin-left: -15px;
	padding-top: 10px;
	font-size: 27px;
}
/*Logo end*/




/* Contact*/
.contact {
	position: relative;
	display: inline-block;
	padding-top: 8px;
	padding-left: 38px;
	text-align: left;
	vertical-align: top;
	color: #fff;
}

.contact__phone {
	position: relative;
	font-size: 19px;
	line-height: 1.7em;
}

.contact__phone:before {
	position: absolute;
	display: block;
	content: "";
	width: 27px;
	height: 26px;
	top: 0;
	left: -30px;
	background: url("../img/icon-tel.png");
}

.contact__text {
	margin-bottom: 15px;
	font-size: 15px;
	line-height: 1em;
	text-transform: none;
	color: #b2b2b2;
}

/*Contact end*/

/*Header end*/

/*Content*/
.page {
	text-align: left;
}

/*Content head*/
.page__header {
	padding-top: 26px;
	padding-bottom: 60px;
	max-width: 880px;
}

.page__header h1 {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 2px;
}

.page__header p {
	font-size: 16px;
	line-height: 1.5em;
}

/*Content head end*/

/*Services */

/*Tabs*/
/* Базовый контейнер табов */
.tabs {
	/*min-width: 320px;*/
	width:100%;
	padding: 0px;
	margin: 0; 
	font-size: 12px;
	color: #404040;
	text-transform: uppercase;
}
/* стили секций с содержанием */
.tabs__content {
	display: none;
	padding: 15px 0;
	background: #fff;
	border-top: 1px solid #ddd;
}
.tabs input {
	display: none;
}
/* стили вкладок (табов) */
.tabs input[type="radio"] + label {
}

.tabs label {
	margin: 0 0 -1px;
	padding: 9px 10px;
	line-height: 32px;
	color: #fff;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: solid 1px #ccc;
	border-bottom: none;
	background: #4e3e6d;
}

/* изменения стиля заголовков вкладок при наведении */
.tabs label:hover {
	color: #888;
	cursor: pointer;
}
/* стили для активной вкладки */
.tabs input:checked + label {
	z-index: 1;
	color: #555;
	background: #fff;
	border-bottom-color: #fff;
	cursor: default;
}
/* активация секций с помощью переключателя :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
	display: block;
}
/*Tabs end*/


.page__services {
	margin-bottom: 1px;
}

.page__services-wrapper {
	padding: 30px 0  12px !important;
}

.page__services-left,
.page__services-right {
	display: inline-block;
	vertical-align: top;
}

.page__services-left {
	width: 585px;
	padding-right: 140px;
}

.page__services-right {
	width: 410px;
	padding-left: 0px;
}

.page__services-list {
	font-size: 0;
}

.page__services-item {
	position: relative;
	display: inline-block;
	padding-left: 60px !important;
	margin-bottom: 33px !important;
	min-height: 45px;
	font-size: 12px;
	line-height: 2em;
	color: #484d69;
}

.page__services-item:before {
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	font-size: 45px;
}

.page__services-item:hover {
	color: #8067cb;
}

.page__services-item:hover > a,
.page__services-item:hover > a li {
	color: #8067cb !important;
	transition: .2s;
}

.page__services-item a {
	display: inline-block;
	margin: auto 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	text-decoration: underline;
	vertical-align: middle;
}

.page__services-item li {
	position: relative;
	padding-left: 20px !important;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	text-decoration: underline;
	vertical-align: middle;
}

.page__services-item li:before {
	position: absolute;
	display: block;
	content: "";
	width: 15px;
	height: 1px;
	left: 0;
	top: 50%;
	background-color: #484d69;
}

.page__services-item li {
	color: #484d69;
	text-decoration: underline;
}
/*Services end*/

/*News*/
.news {
	margin-bottom: 28px;
	padding-bottom: 20px;
	font-size: 0;
	border: 1px solid #d4d5d6;
}

.news-wrapper {
	padding-left: 16px;
}

.news__list {
	margin-bottom: 22px;
}

.news__item {
	position: relative;
	display: inline-block;
	padding-right: 18px;
	padding-top: 20px;
	width: 250px;
	text-align: left;
	vertical-align: top;
}

.news__item div {
	margin-bottom: 11px;
	width: 231px;
	height: 130px;
	overflow: hidden;
}

.news__item img {

}

.news__item h2 {
	font-size: 16px !important;
	line-height: 1.5em;
	margin-bottom: 10px;
}

.news__item p {
	font-size: 14px;
	line-height: 1.4em;
	margin-bottom: 8px;
}

.news__item a {
	color: #484d69;
	text-decoration: underline;
	font-size: 14px;
}

.news__item a:hover {
	color: #8067cb;
}
/*News end*/

/*Footer*/
.page-footer {
	background-color: #31343b;
	padding: 18px 0 50px;
}

.page-footer .main-nav__link {
	font-size: 13.5px;
	padding: 0 9px;
}

.page-footer .main-nav__link:hover {
	background-color: #31343b;
	color: gray;
}

.page-footer .main-nav .main-nav__active {
	background-color: #31343b;
}
/*Footer end*/

/*Buttons*/
.btn {
	margin: 0 auto;
	margin-bottom: 10px;
	display: inline-block;
	background: #ffffff;
	font-size: 12px;
	line-height: 33px;
	letter-spacing: 1.2px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	transition: .4s;
}

.btn:hover {
	cursor: pointer;
}

.btn-wrapper {
	text-align: center;
}

.btn--call {
	width: 160px;
	background-color: #be4040;
	box-shadow: 1px 3px  #8b3838;
}

.btn--call:hover {
	color: #fff;
	background-color: #a73838;
}

.btn--form {
	margin-left: 103px;
	width: 115px;
	border: none;
}

.btn--news {
	width: 202px;
	background-color: #1a1a4c;
	box-shadow: inset -1px -3px #0c0c23;
}

.btn--news:hover {
	color: #fff;
	background-color: #09095e;
}

.btn--news:active {
	box-shadow: none;
}
/*Buttons end*/



.icon-mobile:before {
	content: "";
	background-image: url(../img/spritesheet.png);
	background-position: 0px -106px;
	width: 30px;
	height: 43px;
}
.icon-mobile:hover:before {
	content: "";
	background-image: url(../img/spritesheet.png);
	background-position: 0px -149px;
	width: 30px;
	height: 43px;
}
.icon-signal:before {
	content: "";
	background-image: url(../img/spritesheet.png);
	background-position: 0px -192px;
	width: 46px;
	height: 43px;
}
.icon-signal:hover:before {
	content: "";
	background-image: url(../img/spritesheet.png);
	background-position: 0px -235px;
	width: 46px;
	height: 43px;
}
.icon-tools:before {
	content: "";
	background-image: url(../img/spritesheet.png);
	background-position: 0px -26px;
	width: 42px;
	height: 40px;
}
.icon-tools:hover:before {
	content: "";
	background-image: url(../img/spritesheet.png);
	background-position: 0px -66px;
	width: 42px;
	height: 40px;
}


/*Popup begin*/
.modal {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
}
.shadow {
	/*display: none;*/
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	z-index: 20;
	-webkit-transition: .5;
	-o-transition: .5;
	transition: all .5;
}

.shadow-show {
	display: block;
	background: rgba(0,0,0,.7);

}

.call-popup {
	position: relative;
	top: 50%;
	left: 50%;
	width: 458px;
	min-height: 200px;
	padding: 25px;
	margin-left: -230px;
	margin-top: -162px;
	background: white;
	z-index: 21;
}

.call-popup p {
	padding-left: 103px;
	padding-bottom: 20px;
	font-size: 24px;
	font-weight: 700;
	line-height: 1.3em;
}

.msg-text {
	resize: none;
	margin-left: 103px;
	width: 275px;
	height: 85px;
	margin-bottom: 10px;
	padding: 4px 8px;
	border: 1px solid #969696;
	color: #969696;
}

.call-popup-show {
	display: block;
}

.call-form {
	font-size: 14px;
}

.call-form input[type="text"],
.call-form input[type="tel"] {
	display: block;
	margin-left: 103px;
	margin-bottom: 12px;
	padding: 0 8px;
	width: 275px;
	height: 25px;
	border: 1px solid #969696;
	font-size: 16px;
	line-height: 23px;
	color: #969696;
	background-color: #fff;
}


.call-form input[type="text"]:focus,
.call-form input[type="tel"]:focus,
.call-form textarea:focus {
	box-shadow: 0 0 0 2px #f4f4f4;
	border: 1px solid #969696;
	outline: none;
}


.call-popup-close {
	display: block;
	position: absolute;
	width: 15px;
	height: 15px;
	top: 12px;
	right: 14px;
	background-image: url('../img/icon-close.png');
	
}

.call-label {
	position: absolute;
	display: inline-block;
	font-size: 16px;
	text-transform: none;
}
